.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.main {
  padding-top: 10px;
}

.border {
  border-bottom: 1px solid #282c34;
}

.row {
  display: flex;
  border-top: 1px solid gray;
}

.column {
  flex: 10%;
  min-width: 1em;
  min-height: 2em;
  border-left: 1px solid gray;
}

.column:hover{
  cursor: pointer;
}

.alive {
  background-color: #282c34;
}

.dead {
  background-color: #f0ffff;
}


.btns {
  padding-bottom: 10px;
}
